

<div class="main-container" align="center">

<div class="container">
	<div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Welcome to Sign In</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
                             <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        {{validated-input  type="text" model=this  valuePath='email'  placeholder="username or email"}}                                        
                                    </div>
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        {{validated-input  type="password"  model=this  valuePath='password' placeholder="password"}}
                                    </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <button type="button" class="btn btn-success btn-block" {{action "login"}}>Login</button>
                            <!--<p>New Member? {{#link-to 'loginmodal'}}Sign up{{/link-to}}</p>-->
                            <p {{action 'toggleModal'}}>New user</p>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{#if isShowingModal}}
{{isShowingModal}}
{{#modal-dialog close="toggleModal"
               targetAttachment="center"
                  translucentOverlay=true}}
        <div>
            <h1>hello</h1>
        </div>

  {{/modal-dialog}}

{{/if}}
</div>